<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();
/* หลังจากใช้ pinia ก็ไม่ต้องใช้ emits
const emit = defineEmits<{
  (e: "login", userName: string): void; // e: "ต้องเป็น string", ............ <---- ต้อง map กับที่เราสร้างไว้ (ใน app.vue)
}>();
*/

const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  // form มีโอกาสเป็นได้ทั้ง InstanceType<typeof VForm> และ null ดังนั้นเราจึงต้องทำให้ form แน่ใจว่ามันจะไม่เป็น null เนื่องจากยังไง form ก้ต้องลิงค์กับสิ่งที่เราทำ ดังนั้นเราจึงใส่เป็น form.value! แทน form.value?
  const { valid } = await form.value!.validate(); //await คือการ depromise ตัว validate ออก
  if (valid) {
    //emit("login", loginName.value);
    loginStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};
</script>
<template>
  <v-app>
    <v-main class="pa-16 bg-blue-grey-darken-1">
      <v-card width="400px" class="mx-auto">
        <v-card-title
          primary-title
          class="text-center text-h6 font-weight-bold"
        >
          Login
        </v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid">
            <v-text-field
              label="Login Name"
              v-model="loginName"
              :rules="[
                (v) => !!v || 'Login Name is required',
                (v) =>
                  v.length >= 4 ||
                  'Name must be more than or equal 4 characters',
              ]"
              required
            ></v-text-field>
            <v-text-field
              label="Password"
              type="Password"
              v-model="password"
              :rules="[
                (v) => !!v || 'Password is required',
                (v) =>
                  v.length >= 8 ||
                  'Password must be more than or equal 8 characters',
              ]"
              required
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn color="success" @click="login">login</v-btn>
          <v-btn color="error" @click="reset">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-main>
  </v-app>
</template>
